img {
  width: 100%;
  object-fit: cover;
}
body {
  background-color: hsl(120, 100%, 98%);
}

@media (min-width: 700px) {
  /* SEKTION 2*/
  #second_section .section_wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
  }

  /* SEKTION 3*/
  #third_section .section_wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
  }

  /* SEKTION 4*/
  #fourth_section .section_wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
  }
  #fourth_section .col_wide {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
  }
  #fourth_section .element_1 {
    order: 1;
  }
  #fourth_section .element_2 {
    order: 2;
  }
  #fourth_section .element_3 {
    order: 4;
  }
  #fourth_section .element_4 {
    order: 3;
  }
  #fourth_section .col_narrow {
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
  }

  /* SEKTION 5*/
  #fifth_section .section_wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
  }

  #fifth_section .col {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  /* SEKTION 6*/
  #sixth_section .section_wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 10px;
  }
  #sixth_section .section_wrapper img {
    width: 100%;
    height: 100%;
  }

  .image1 {
    grid-column: 1/3;
    grid-row: 1/3;
    height: 100%;
  }

  .image2 {
    grid-column: 3/4;
    grid-row: 1/2;
    height: 100%;
  }

  .image3 {
    grid-column: 4/5;
    grid-row: 1/2;
    height: 100%;
  }

  .image4 {
    grid-column: 3/5;
    grid-row: 2/3;
    height: 100%;
  }

  .image5 {
    grid-column: 1/2;
    grid-row: 3/4;
    height: 100%;
  }

  .image6 {
    grid-column: 2/5;
    grid-row: 3/4;
    height: 100%;
  }
}

/* styletile */

hr {
  border: 0;
  border-top: 1px solid #e9c46a;
}

.details {
  font-size: 12px;
  font-family: sans-serif;
}

h1 {
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  font-style: normal;
  font-size: 60px;
  color: #2a9d8f;
  line-height: 1.125;
  margin-bottom: 10px;
}

h2,
h3 {
  font-family: "Poppins", sans-serif;
  line-height: 1.125;
  font-weight: 700;
}

h2 {
  font-size: 39px;
  margin-bottom: 10px;
  color: #e76f51;
}

h3 {
  font-size: 31px;
  line-height: 1.125;
  color: #f4a261;
}

h4 {
  font-family: "Poppins", sans-serif;
  font-size: 25px;
  line-height: 1.125;
  margin-bottom: 10px;
  color: #e9c46a;
  font-weight: 700;
}

p {
  font-family: "Gowun Dodum", sans-serif;
  line-height: 1.4;
  color: #12201f;
  font-size: 16px;
  font-weight: 400;
}

nav {
  font-family: "Poppins", sans-serif;
  text-decoration: none;
  font-weight: 600;
  font-size: 16px;
  letter-spacing: 1px;
  color: #000;
  float: right;
}

a:hover {
  color: #e76f51;
}

.color {
  height: 70px;
  width: 70px;
  border: 1px solid #000000;
  padding: 0;
}

.color_1 {
  background: #12201f;
}
.color_2 {
  background: #2a9d8f;
}
.color_3 {
  background: #e9c46a;
}
.color_4 {
  background: #f4a261;
}
.color_5 {
  background: #e76f51;
}

.colors,
.links,
ul {
  display: flex;
  flex-flow: wrap;
  gap: 20px;
}
section .color {
  list-style: none;
  padding: 0;
}

.links,
ul {
  list-style: none;
  padding: 0;
}

.headings {
  grid-row: span 3;
}

.favicon {
  max-width: 100px;
}
@media (min-width: 700px) {
  /* grid indstillinger */
  #styletile {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    max-width: 1000px;
    margin-inline: auto;
    background: hsl(120, 100%, 98%);
  }
}
#styletile img {
  max-width: 100%;
  max-height: 100%;
}
